body {
    background-color: black;
}
 
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 450px;
    object-fit: cover;
}
 
.image-card{
    height: 200px;
    object-fit: cover;
}
 
.avatar {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    margin-top: -75px;
}
 
.bio span {
    display: block;
    justify-content: center;
    font-size: 12px;
}

#espaco-cartao{
    display: none;
}